listing = document.querySelector("[data-id='<%= @booking.id %>']")
listing.querySelector('i').style.color = 'green'
listing.querySelector('a').style.display = 'none'
listingHtml = `<div class='card-product mb-3' data-id='<%= @booking.id %>'>${listing.innerHTML}</div>`

listingsContainer = document.querySelector(".upcoming-listings")
listingsContainer.insertAdjacentHTML('beforeend', listingHtml)

listing.style.display = "none"



